@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.shopping-cart {
  grid-area: cart;  
  display: flex  ;
  justify-content: center;  
  border: solid 5px;
  border-color: green;
  padding: 5px;
  text-align: center;
  height: auto;
  background-color: rgb(147, 147, 150);
}
aside {
  display: end;
  
}

.removeFromCartButton {
  padding: 0.5vh;
  block-size: 4vh;
  inline-size: 11vh;
  color: #fefefe;
  background-color: green;
  border-radius: 10%;
}

.upborder {
    border: 5px solid green;
    background-color: white;
    display: grid;
    grid-template-columns: 1700px auto;
    grid-template-areas: 'logo' 'trashcart';
    padding: 4px;
    align-items: baseline;
}

.trashcart {

    block-size: 1vh;
    inline-size: 1vh;
 
    
}