%bar-o-meeter 
    block-size: 2vh
    user-select: none
    border-radius: 12px
    margin-block-end: 12px
    background-color: grey
    
main
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: flex-start
    align-items: center

    div.road-map
        inline-size: 66vw
        block-size: 73vh
        background-image: url(../img/pathway-3596034_640.jpg)
        background-repeat: no-repeat

    aside.values
        margin-inline-start: 10vw

    aside
        

        .bar-o-meeter
            .speedo-o-meter, .cool-o-meter,.rep-o-meter, .annoyed-o-meter
            @extend %bar-o-meeter
    
    img
        inline-size: 26vw
