%bar-o-meeter 
    width: 100%
    block-size: 2vh
    user-select: none
    border-radius: 12px
    margin-block-end: 12px
    animation:  pulse 1s infinite


header
    
    margin-block-end: 9vh

    h1
        text-align: center

    h3
        text-align: center
    
main
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: center
    justify-content: center

    div.road-map
        inline-size: 46vw
        block-size: 71vh
        background-image: url('../img/Geometric_of_roads.gif')
        background-repeat: no-repeat

    aside.values
        margin-inline-start: 10vw

    aside
        .speed-o-meeter, .annoyed-o-meeter, .rep-o-meeter, .cool-o-meeter
            @extend %bar-o-meeter
    
    img
        inline-size: 26vw
        mix-blend-mode: multiply

@keyframes pulse
    from
        0% 
            background-color: rgb(120, 6, 6)
        
        50%
            background-color: #FFFF00
    to
        100%
            background-color: rgb(102, 146, 61)